* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(243, 247, 250);
}

.app-container {
    width: 755px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    padding-bottom: 50px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 502px;
}