.ticket-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.loading-text {
    animation: fadeInOut 1.5s ease-in-out infinite;
    text-align: center;
    font-size: 18px;
    color: #555;
}